@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
    font-family: "Baloo 2", sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    color: #333333
}

/*Ajuste para todas as sections do HTML*/
.section { 
    width: 100vw;
}

/*Ajuste específico para o cabeçalho da página*/
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    background-color: #6694e9;
}

/*Personalização da parte de texto do cabeçalho*/
.selection-class {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
}
/*Personalização dos botões*/
.buttons-class {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}
/*Customização da home de abetura*/
.home {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    height: 54rem;
    background-image: url("assets/home-bg.png");
}

.name-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color:cornflowerblue
}

.input-field {
    margin: 5rem;
    border-radius: 1.5rem;
    height: 5rem;
    width: 50rem;
    font-size: 3.6rem;
    border: 0.2rem rgb(0, 121, 121) solid;
}

.button {
    display: none;
    font-size: 1.8rem;
    width: 14rem;
    height: 3rem;
    cursor: pointer;
    background-color: #2ecc71;
    color: #ffffff;
    border-radius: 2rem;
}

.button:hover {
    background-color: #1fa055;
    font-size: 2.0rem;
}

.button-secundary {
    font-size: 2.3rem;
    width: 14rem;
    height: 4rem;
    cursor: pointer;
    background-color: #f39c12;
    color: #ffffff;
    border-radius: 2rem;
    margin-right: 1rem;
}

.button-secundary:hover {
    background-color: #b97507;
    font-size: 2.8rem;
}

/*customização do tabuleiro do jogo*/
.card-board {
    display: none;
    flex-direction: column;
    height: 54rem;
    background-image: url("assets/board-bg.png");
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

/*customização da área das cartas*/
.card {
    display: flex;
    height: 25rem;
    width: 15%;
    margin: 1rem;
    background-image: url("assets/background-animal-deck.png");
    background-size: cover;
    border: 0.1rem rgb(0, 121, 121) solid;
    border-radius: 2rem;
    cursor: pointer;
}

.card:hover {
    box-shadow: 10px 3px 10px rgb(0, 121, 121);
}

/*customização do rodapé*/
footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    text-align: center;
    color: #1d181a;
    background-color: #6694e9;
}